<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <menuItems>
    <website>
      <name>Netflix</name>
      <url>https://www.netflix.com</url>
    </website>
    <website>
      <name>Hulu</name>
      <url>https://www.hulu.com</url>
    </website>
    <website>
      <name>Amazon Video</name>
      <url>https://www.amazon.com/video</url>
    </website>
    <controllerProgram>
      <name>Steam</name>
      <processName>Steam</processName>
      <processPath>C:\Program Files (x86)\Steam\steam.exe</processPath>
      <args>-bigPicture</args>
      <appStartedArgs>steam://open/bigpicture</appStartedArgs>
    </controllerProgram>
    <program>
      <name>Skype (Classic)</name>
      <processName>Skype</processName>
      <processPath>C:\Program Files (x86)\Skype\Phone\Skype.exe</processPath>
      <args></args>
      <appStartedArgs></appStartedArgs>
    </program>
  </menuItems>
  <options>
  </options>
</configuration>